apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pg-lock-viewer.fullname" . }}-nginx
  labels:
    {{- include "pg-lock-viewer.labels" . | nindent 4 }}
data:
  nginx.conf: |
    server {
        listen 80;
        server_name localhost;
        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri $uri/ /index.html;
        }

        location /api {
            proxy_pass http://{{ include "pg-lock-viewer.fullname" . }}-backend:{{ .Values.backend.service.port }};
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection 'upgrade';
            proxy_set_header Host $host;
            proxy_cache_bypass $http_upgrade;
        }
    }
